@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family:"Gilroy";
}
.background_name{
  animation: gradient 1s ease infinite;
}
@keyframes gradient {
  0%{
    color: rgb(147, 139, 139);
  }
  50%{
    color: rgb(117, 108, 108);
  }
  100%{
    color: rgb(147, 139, 139);
  }
}
::selection{
  color: orange;
} 